################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IOandLoop/x64/Debug
/IOandLoop/IOandLoop.vcxproj.filters
*.exe
*.pdb
/.gitignore
/.gitignore
/ConstantsandInline/x64/Debug
/ReferenceandPointers/x64/Debug
/FunctionOverloading/x64/Debug
/OperatorOverloading/x64/Debug
/.gitignore
/ExceptionHandling/x64/Debug
/ArrayandString/x64/Debug
/DataStructureContainers/x64/Debug
/IOandLoop
/SortandSearch/x64/Debug
