################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IOandLoop/x64/Debug
/IOandLoop/IOandLoop.vcxproj.filters
*.exe
*.pdb
/.gitignore
/.gitignore
/ConstantsandInline/x64/Debug
/ReferenceandPointers/x64/Debug
